<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Registro</h1>
    <form action="/register.html" method="post">
        <input type="text" placeholder="Nombre y Apellido">
        <input type="text" placeholder="Nombre Usuari@">
        <input type="email" placeholder="E-mail">
        <h3>Fecha de nacimiento</h3>
        <input type="date"><br>
        <input type="text" placeholder="Domicilio">
        <h3>Perfil de Usuario</h3>
        <input type="radio" name="medio" value="Comprador">Comprador
        <input type="radio" name="medio" value="Vendedor">Vendedor
        <h3>Intereses</h3>
        <input type="checkbox">Electro<br>
        <input type="checkbox">Moda<br>
        <input type="checkbox">Hogar <br> 
        <input type="checkbox">Juguetería <br>
        <input type="checkbox">Vida Sana <br>
    </form>
</body>
</html>